@import url(./__image/place-card__image.css);
@import url(./__image/_kind/_gardine/place-card__image_kind_gardine.css);
@import url(./__image/_kind/_plant/place-card__image_kind_plant.css);
@import url(./__image/_kind/_gardine/place-card__image_kind_catalog1.css);
@import url(./__image/_kind/_gardine/place-card__image_kind_catalog2.css);
@import url(./__description/place-card__description.css);
@import url(./__name/place-card__name.css);

.place-card {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 1160px) {
  .place-card {
      width: 400px;
  }
}

@media screen and (max-width: 820px) {
  .place-card {
      width: calc(100% - 20px);
      margin-bottom: 40px;
      min-height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .place-card {
      min-height: 400px;
  }
}