@keyframes transport-from-left {
	0% {
		transform: translate(200%,0);

	}
    100% {
		transform: translate(0,0);
	}
}

@keyframes transport-from-right {
	0% {
		transform: translate(-200%,0);

	}
    100% {
		transform: translate(0,0);
	}
}

@keyframes transport-from-bottom {
	0% {
		transform: translate(0,300%);

	}
    100% {
		transform: translate(0,0);
	}
}

@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}