.family__title {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(244,244,254);
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
}

@media screen and (max-width: 630px) {
    .family__title {
        font-size: 25px;
        line-height: 25px;
    }
  }