.header__button  {
    margin-right: 0;
    margin-top: 10px;
    margin-left: auto;
    width: max-content;
    background-color: rgb(255, 42, 42);
    color: white;
    border-radius: 15px;
    border: none;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .header__button {
        margin-top: 0;
    }
}